{% extends "front/base.html.twig" %}

{% block title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content %}
    <div class="seller-form">
        {{ form(form) }}
    </div>
    <div class="seller-form">
        YOLO
    </div>        
{% endblock %}
