{% extends "front/base.html.twig" %}

{% block title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}REAL ESTATE CREATE{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <div class="seller-form">
                {{ form(form) }}
            </div>
            <div class="seller-form">
                YOLO
            </div>     
        </div>
    </div>
{% endblock %}
