{% extends "front/base.html.twig" %}

{% block title %}{% trans %}MY PROFILE{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}MY PROFILE{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            {{ dump(app.user) }}
        </div>
    </div>
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <ul>
                {% for immo in list %}
                    <li>
                        <a href="{{ path('app_sell_editbuilding',{pk: immo.pk}) }}">{{ immo.pk }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>            
{% endblock %}