body {
    background-color: white;
    background-image: url('/img/zeroimmo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-aspect-ratio: 1)  {
    body {
        background-image: none;
    }
}

header h1 {
    text-align: center;    
    color: white;
    font-weight: bold;
    font-size: 160%;
}

header img {
    width: 40%;
    margin-left:1em;
    margin-top: 1em;
}

.menu-particulier {
    background-color: white;
}

.menu-particulier h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
}

h2.impact {
    text-transform: uppercase; 
    font-weight: 800;
}

.color1 {
    color: #eb008a;
}

.color2 {
    color: #004aab;
}

.color3 {
    color: #5ce1e6;
}