body {
    background-color: white;
    background-image: url('/img/zeroimmo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

@media (max-aspect-ratio: 1)  {
    body {
        background-image: none;
    }
}

header h1 {
    text-align: center;    
    color: white;
    font-weight: bold;
    font-size: 160%;
}

header img {
    width: 40%;
    margin-left:1em;
    margin-top: 1em;
}

.menu-particulier {
    background-color: white;
}

.menu-particulier h2 {
    font-size: 1.3em;
    text-align: center;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.icon-particulier div {
    text-align: center;
}

h2.impact {
    text-transform: uppercase; 
    font-weight: 800;
}

.color0 {
    color:black;
}

.color1 {
    color: #eb008a;
}

.color2 {
    color: #004aab;
}

.color3 {
    color: #5ce1e6;
}

.listing {
    padding: 1em;
}

.listing header {
    color: white;
    text-align: center;
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 0.5em;
}

.realestate {
    background-color: white;
    margin-bottom: 1em;
}

.realestate figure, .listing article figcaption, .listing article nav {
    margin: 0.6em 0 0 0.6em;
}

.realestate .endmargin {
    margin-bottom: 0.6em;
}

.realestate figcaption h3 {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.3em;
}

.realestate ul.tags {
    margin: 1.5em 0;
    padding: 0;
}

.realestate ul.tags li {
    display: inline;
    padding: 0.2em 1em;
    margin: 0 1em 0 0;
    background-color: lightgray;
}

.realestate .navbar div {
    text-align: center;
}

nav.actions {
    text-align: center;
}