
.icon-loupe:before { content: '\e800'; } /* '' */
.icon-vr360:before { content: '\e801'; } /* '' */
.icon-arrowright:before { content: '\e802'; } /* '' */
.icon-facebook-circled-1:before { content: '\f051'; } /* '' */
.icon-twitter-circled-1:before { content: '\f057'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
