{% extends "base.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link rel="stylesheet" href="/css/main.css">
{% endblock %}
{% block body %}
    <div class="pure-g">
        <div class="pure-u-1-4">
            <img src="/img/logo.jpg" class="pure-img"/>
        </div>
        <div class="pure-u-1-2">
            <header class=" top-title">ZEROPOURCENT.IMMO - L'IMMO SANS COMMISSION</header>                    
        </div>
        <div class="pure-u-1-4">
            SOCNET
        </div>
    </div>
    <div class="pure-g">
        <div class="pure-u-1-6">
        </div>
        <div class="pure-u-2-3" style="background-color: white">menu</div>
        <div class="pure-u-1-6">
        </div>
    </div>
{% endblock %}