{% extends "front/base.html.twig" %}

{% block content_title %}{% trans %}SEARCH TITLE{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g">
        <div class="pure-u-1-3"></div>
        <div class="pure-u-1-3">
            <form class="pure-form pure-form-stacked buy-search" action="{{ path('app_buy_listing') }}" method="get">
                <input type="text" class="pure-input-1" placeholder="VILLE"/>
                <div class="pure-g">
                    <div class="pure-u-2-5">
                        <input type="text" class="pure-input-1 price-currency" placeholder="€"/>
                    </div>
                    <div class="pure-u-1-5"><span>{% trans %}PRICE RANGE{% endtrans %}</span></div>
                    <div class="pure-u-2-5">
                        <input type="text" class="pure-input-1 price-currency" placeholder="€"/>
                    </div>
                </div>
                <div class="pure-g">
                    <div class="pure-u-1-5"><span>{% trans %}REAL ESTATE TYPE{% endtrans %}</span></div>
                    <div class="pure-u-4-5">
                        <select class="pure-input-1">
                            <option>Appartement</option>
                            <option>Villa</option>
                        </select>
                    </div>
                </div>
                <button class="pure-button pure-input-1 button-primary">{% trans %}BUTTON SEARCH{% endtrans %}</button>
            </form>
        </div>
        <div class="pure-u-1-3"></div>
    </div>
{% endblock %}