{% extends "front/base.html.twig" %}
{% block content %}
    <section class="listing">
        <header>{% trans %}SEARCH RESULT{% endtrans %}</header>
            {% for immo in result %}
            <article class="pure-g realestate">
                <div class="pure-u-1-8">
                    <figure>
                        <img class="pure-img" src="https://placekitten.com/g/1000/1000"/>
                    </figure>
                </div>
                <div class="pure-u-3-4">
                    <figcaption>
                        <h3>Titre titre titre titre titre titre titre </h3>
                        <p>
                            test test test test test test test test test test test test test test 
                            test test test test test test test test test test test test test test test test test 
                            test test test test test test
                        </p>
                        <ul class="tags">
                            <li>Tag info</li>
                            <li>Tag info</li>
                            <li>Tag info</li>
                            <li>Tag info</li>
                        </ul>
                    </figcaption>
                </div>
                <div class="pure-u-1-8">
                    <nav>
                        button
                    </nav>
                </div>
            </article>
        {% endfor %}
        <footer></footer>
    </section>
{% endblock %}