{% extends 'front/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block one_column %}
    {{ form(form) }}
    <h3>Vous n'êtes pas inscrit ? <a href="{{ path('app_security_subscribe') }}">Inscrivez-vous ici</a></h3>
{% endblock %}
