{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block content %}
    <form method="post" class="pure-form pure-form-stacked">
        {% if error %}
            <ul class="form-error">
                <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
            </ul>
        {% endif %}
        <label for="inputUsername">{% trans %}Username{% endtrans %}</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="pure-input-1" required autofocus>
        <label for="inputPassword">{% trans %}Password{% endtrans %}</label>
        <input type="password" name="password" id="inputPassword" class="pure-input-1" required>
        <input type="hidden" name="csrf_token" value="{{ csrf_token('authenticate') }}"/>
        <button class="pure-button" type="submit">
            {% trans %}Sign in{% endtrans %}
        </button>
    </form>
{% endblock %}
