{% extends 'front/base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block one_column %}
    {% if error %}
        <div class="pure-g">
            <div class="pure-u-1-2"></div>
            <div class="pure-u-1-2">
                <div  class="form-error">
                    <ul>
                        <li>{{ error.messageKey|trans(error.messageData, 'security') }}</li>
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
    {{ form(form) }}
    <h3 style="text-align: center">Vous n'êtes pas inscrit ? <a href="{{ path('app_security_subscribe') }}">Inscrivez-vous ici</a></h3>
{% endblock %}
