{% extends "front/base.html.twig" %}

{% block title %}{% trans %}SUBSCRIBING{% endtrans %}{% endblock %}

{% block content_title %}{% trans %}SUBSCRIBING{% endtrans %}{% endblock %}

{% block content %}
    <div class="pure-g seller-subscribing">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-2">
            <div class="seller-form">
                {{ form_start(form) }}
                <fieldset>
                    {{ form_widget(form.user) }}
                </fieldset>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}