<section class="social-network">
    Suivez nous sur<br/>
    <a href="https://facebook.com"><i class="icon-facebook-circled-1"></i></a>
    <a href="https://twitter.com"><i class="icon-twitter-circled-1"></i></a>
    <a href="https://linkedin.com"><i class="icon-linkedin-circled"></i></a>
    <a href="https://youtube.com"><i class="icon-youtube-play"></i></a>
    <a href="https://instagram.com"><i class="icon-instagram"></i></a>
</section>